.auteur-container {
    margin-left: 20%;
    margin-top: 90px;
    margin-right: 0;
}

.auteur-container img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.auteur-item {
    display: flex;
    align-items: center;
}

.auteur {
    margin-right: 10px;
    text-align: left;
}

.auteur {
    justify-content: center;
}
