.auteur-container {
    margin-left: 58%;
    margin-top: 50px;
    margin-right: 0;
}

.auteur-container img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.auteur-item {
    display: flex;
    align-items: center;
}

.auteur {
    margin-right: 10px;
    text-align: left;
}

.auteur {
    justify-content: center;
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .auteur-container {
        flex-direction: column;
        position: relative;
        margin-left: 60%;
    }
    
    .auteur-container img {
        width: 32px;
        height: 32px;
    }
}
