.auteur-container {
    margin-top: -105px;
    display: block;
    position: absolute;
    right: 14%;
}

.auteur-container img {
    width: clamp(45px, 4.4vw, 64px);
    border-radius: 50%;
}
.auteur-item {
    display: flex;
    align-items: center;
    max-width: 20px;
    gap: 10px;
}

@media (min-width: 375px) and (max-width: 767.98px) {
    .auteur-container img {
        width: 32px;
        height: 32px;
        margin-top: 20px;
    }

    .auteur-item {
        display: flex;
        align-items: center;
        padding-right: 20px;
        margin-left: 25%;
    }

    .auteur-container {
        margin-top: 0;
        right: 22%;
    }
}
