$base-color: #ffffff;
$fiveth-color: #d3d3d3; /* Gris clair */
$sixth-color: #a9a9a9;

.logements {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-left: 50px;
  margin-top: 50px;
}

.card {
  max-width: 340px;
  box-sizing: border-box;
  height: 340px;
}

.card-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}

.card-title {
  position: relative;
  top: -27%;
  background-color: rgba(37, 36, 36, 0.8);
  height: 70px;
  filter: brightness(300%);
  color: $base-color;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
}
