$third-color: #ff6060;

.card {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px 10px 10px 10px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  background-color: $third-color;
  }