.barre_appart {
    max-width: 40%;
    flex: 1;
    margin: 0 6% 0 1%;
}

ul {
    list-style-type: none;
    margin-left: -60%;
    padding-right: 10px;
}

ul {
    margin-top: 20px;
}

.ligne_apparts {
    display: flex;
    flex-direction: row;
}
