.barre_appart {
    max-width: 40%;
    flex: 1;
    margin: 10px 6% 2.6% 7%;
}

ul {
    list-style-type: none;
    padding-left: 2%;
    padding-right: 10px;
    margin-top: 10px;
}

.text_description {
    margin-top: 30px;
    padding-top: 15%;
    padding-bottom: auto;
    margin-right: 2%;
}

.ligne_apparts {
    display: flex;
    flex-direction: row;
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .ligne_apparts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }

    .barre_appart {
        max-width: 90%;
        margin: 0 5% -1%;
    }

    .text_description {
        padding-top: 17px;
        margin-top: 0px;
    }

    ul {
        padding-bottom: 19px;
        margin-top: 0;
    }
}
