// Variables
$duration: 0.5s;
$ease-out: ease-in-out;
$max-height-open: max-content;
$max-height-closed: 0;
$opacity-open: 1;
$opacity-closed: 0;

// Mixins
@mixin slide-animation($name, $start-transform, $end-transform, $start-opacity, $end-opacity) {
    @keyframes #{$name} {
        0% {
            transform: translateY(#{$start-transform});
            opacity: #{$start-opacity};
        }
        100% {
            transform: translateY(#{$end-transform});
            opacity: #{$end-opacity};
        }
    }
}

// Animations
@include slide-animation(slide-bottom, -50%, 0, $opacity-closed, $opacity-open);
@include slide-animation(slide-top, 0, -50%, $opacity-open, $opacity-closed);

// Styles
.texteApropos {
    max-height: $max-height-closed;
    overflow: hidden;
    opacity: $opacity-closed;
    transition:
        max-height $duration $ease-out,
        opacity $duration $ease-out;
    margin: 0;
}

.texteApropos.open {
    max-height: $max-height-open;
    opacity: $opacity-open;
    animation: slide-bottom $duration forwards;
    overflow: hidden;
}

.texteApropos.closed {
    max-height: $max-height-closed;
    opacity: $opacity-closed;
    animation: slide-top $duration forwards;
    overflow: hidden;
    margin: 0;
}

@media (min-width: 375px) and (max-width: 767.98px) {
    .texteApropos.closed {
        max-height: 13px;
    }
}
