.banner-img {
    width: 86.1vw;
    height: 415px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 25px;
}

.arrow_left,
.arrow_right {
    margin-top: 210px;
    font-size: 550%;
    position: absolute;
}

.arrow_left {
    left: 11%;
}

.arrow_right {
    right: 11%;
}

.chiffre {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

@media (min-width: 375px) and (max-width: 767.98px) {
    .gallery {
        margin: 0;
    }
    .banner-img {
        min-width: 103%;
        height: 255px !important;
        border-radius: 10px !important;
    }

    .chiffre {
        display: none;
    }

    .arrow_left,
    .arrow_right {
        margin-top: 100px;
    }

    .arrow_left img,
    .arrow_right img {
        width: 11.7px;
        height: 19.8px;
    }
}
