.star-rating {
    display: flex;
    font-size: 250%;
}

.star,
.star_selection {
    width: 24.75px;
    height: 24px;
}

.rating {
    position: absolute;
    right: 8.5vw;
}

@media (min-width: 375px) and (max-width: 767.98px) {
    .star,
    .star_selection {
        width: 18px;
        height: 18px;
    }

    .rating {
        position: absolute;
        left: 6%;
        margin-top: 0px;
    }
}
