.star-rating {
    display: flex;
    font-size: 250%;
    margin-top: -18px;
}

.star,
.star_selection {
    width: 24.75px;
    height: 24px;
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .star,
    .star_selection {
        width: 18px;
        height: 18px;
    }

    .star-rating {
        position: absolute;
        left: 6%;
        margin-top: 0%;
    }
}
