.tag_line {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 1% 0% 3% 7%;
}

.tags {
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 10px;
}

@media (min-width: 375px) and (max-width: 767.98px) {
    .tag_line {
        margin: -10px 0px 90px 6%;
        gap: 5px;
    }

    .tags {
        width: auto;
        max-height: 18px !important;
        margin-left: auto;
        border-radius: 5px;
    }
}
