.tag_line {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0px 0% 2% 7%;
}

.tags {
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 10px;
}


@media (min-width: 320px) and (max-width: 767.98px) {
    .tag_line {
        margin: -40px 0px 90px 4%;
        gap: 1px;
    }

    .tags {
        width: auto;
        max-height: 18px !important;
        margin-left: 10px;
        border-radius: 5px;
    }
}
