.title_apparts {
    min-width: 70%;
}

.localisation {
    margin-top: -20px;
}

@media (min-width: 375px) and (max-width: 767.98px) {
    .title_apparts,
    .localisation {
        margin-left: 7%;
        max-width: 60%;
    }

    .title_apparts {
        margin-top: -10px;
    }

    .localisation {
        margin-top: -90px;
    }
}
