.title_apparts {
    min-width: 90%;
    margin-left: 7%;
    margin-top: 50px;
}

.localisation {
    margin-bottom: 50px;
    margin-top: -20px;
    margin-left: 7%;
}

@media (min-width: 375px) and (max-width: 767.98px) {
    .title_apparts,
    .localisation {
        margin-top: -100px;
        max-width: 70%;
    }

    .localisation {
        margin-top: -75px;
    }
}
