.title_apparts,
.localisation {
    margin-left: 31.5%;
}

.title_apparts {
    margin-top: 50px;
    margin-bottom: 13px;
}

.localisation {
    margin-bottom: 50px;
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .title_apparts {
        margin-top: -90px;
    }
    .title_apparts,
.localisation {
    margin-left: 7%;

}
}
