$base-color: #ffffff;
$secondary-color: #000000;

.footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    height: 209px;
    margin-top: 50px;
    margin-left: 45%;
}
.background_b {
    background-color: $secondary-color;
    color: $base-color;
}

.decallage_g {
    margin-left: -6%;
    margin-top: 40px;
}

