.entet {
    display: flex;
    flex-direction: row;
    margin-left: 6.5%;
    margin-right: 6%;
}

header img {
    width: 210px;
    height: 68px;
    margin-top: 45px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    position: absolute;
    right: 6%;
    gap: 4.8vw;
}

header a {
    text-decoration: none;

    &.active {
        text-decoration: underline;
    }

    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: 375px) and (max-width: 767.98px) {
    .entet {
        margin-top: 0px;
        margin-left: 5%;
    }

    header ul {
        margin-top: 40px;
    }

    header img {
        width: 145px;
        height: 47px;
        margin-top: 20px;
    }

    header ul {
        right: 3%;
        text-transform: uppercase;
        margin-top: 40px;
    }
}
