.entet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
}

.image_header {
    width: 210px;
    height: 68px;
    margin-top: 45px;
}

.nav_header {
    margin-top: 69px;
}

.accueil {
    margin-right: 25px;
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .image_header {
        width: 30%;
        height: 47px;
        margin-top: 20px;
    }

    .nav_header {
        margin-top: 40px;
        margin-left: 5%;
        text-transform: uppercase;
    }

    .accueil {
        padding-right: 8px;
    }
}
