body {
    font-family: "Montserrat", sans-serif;
}

.h1_error {
    font-size: 288px;
}

.home_text .position_titre {
    font-size: 3rem;
}

.text_Error {
    font-size: 36px;
}
i .title_apparts {
    font-size: 1.8rem;
}

.nav_header,
.depliantApropos {
    font-size: 24px;
}

.texteApropos {
    font-size: 20px;
}

.auteur-container,
.card-title,
.logements,
.accueil_error {
    font-size: 18px;
}

.tags {
    font-size: 14px;
}

.card-title,
.depliantApropos,
.h1_error,
.home_text,
.chiffre,
.tags {
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .nav_header {
        font-size: 12px;
    }

    .home_text .position_titre {
        font-size: 24px;
    }

    .title_apparts {
        text-align: justify;
    }
}
