// _variables.scss
$font-family: "Montserrat", sans-serif;
$font-weight-bold: bold;
$font-weight-normal: normal;

// Tailles de police pour les écrans de bureau
$font-sizes: (
    h1-error: 20vw,
    position-titre: 3.33vw,
    text-error: 2.5vw,
    title-apparts: 2.5vw,
    header-ul-li: 24px,
    depliant-apropos: 24px,
    texte-apropos: 1.389vw,
    general: 18px,
    tags: 14px,
    card-title: 1.289vw,
);

// Tailles de police pour les écrans mobiles
$font-sizes-mobile: (
    header-ul-li: 12px,
    position-titre: 24px,
    text-error: 18px,
    title-apparts: 18px,
    card-title: 16px,
    depliant-apropos: 13px,
    texte-apropos: 12px,
    accueil-error: 14px,
    tags: 10px,
    h1-error: 99px
);

body {
    font-family: $font-family;
}

header {
    a {
        font-size: map-get($font-sizes, header-ul-li);
    }
}

.h1_error {
    font-size: map-get($font-sizes, h1-error);
}

.home_text .position_titre {
    font-size: map-get($font-sizes, position-titre);
}

.card-title {
    font-size: map-get($font-sizes, card-title);
}
.text_Error {
    font-size: map-get($font-sizes, text-error);
}

.title_apparts {
    font-size: map-get($font-sizes, title-apparts);
}

.depliantApropos {
    font-size: map-get($font-sizes, header-ul-li);
}

.texteApropos,
.text_description {
    font-size: map-get($font-sizes, texte-apropos);
}

.auteur-container,
.logements,
.accueil_error {
    font-size: map-get($font-sizes, general);
}

.tags {
    font-size: map-get($font-sizes, tags);
}

.card-title,
.depliantApropos,
.h1_error,
.home_text,
.chiffre,
.tags {
    font-weight: $font-weight-bold;
}

.auteur-name-class {
    text-align: end;
}

.text_description {
    text-align: left;
}

@media (min-width: 375px) and (max-width: 767.98px) {
    header {
        a {
            font-size: map-get($font-sizes-mobile, header-ul-li);
        }
    }

    .home_text .position_titre {
        font-size: map-get($font-sizes-mobile, position-titre);
    }

    .text_Error {
        font-size: map-get($font-sizes-mobile, text-error);
    }

    .card-title {
        font-size: map-get($font-sizes-mobile, card-title);
    }

    .depliantApropos {
        font-size: map-get($font-sizes-mobile, depliant-apropos);
    }

    .auteur-name-class,
    .texteApropos,
    .text_description {
        font-size: map-get($font-sizes-mobile, texte-apropos);
    }

    .accueil_error,
    .localisation {
        font-size: map-get($font-sizes-mobile, accueil-error);
    }

    .tags {
        font-size: map-get($font-sizes-mobile, tags);
    }

    .h1_error {
        font-size: map-get($font-sizes-mobile, h1-error);
    }

    .tags,
    .depliantApropos {
        font-weight: $font-weight-bold;
    }

    .title_apparts {
        font-weight: $font-weight-normal;
        font-size: map-get($font-sizes-mobile, title-apparts);
    }
}
