.ligne_appart {
    display: flex;
    flex-direction: row;
}

.ligne_apparts {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 767.98px){
    .ligne_appart {
        display: flex;
        flex-direction: column;
    }
}
