.ligne_appart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 7%;
}


@media (min-width: 320px) and (max-width: 767.98px) {
    .ligne_appart {
        justify-content: left;
    }

}