#root {
    text-decoration: none;
}

.gallery {
    display: flex;
    justify-content: center;
}

.alignement_titre_auteur {
    display: flex;
    margin: 50px 7% 50px 7%;
}

.ligne_tag_stars {
    display: flex;
}

@media (min-width: 375px) and (max-width: 767.98px) {
    .gallery {
        display: flex;
        justify-content: center;
        margin-left: -2%;
    }

    .alignement_titre_auteur {
        display: initial;
    }
}
