.image_apropos {
    width: 90%;
    height: 223px;
    margin-top: 50px;
    margin-left: 5%;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    filter: brightness(70%);
    margin-bottom: 50px;
}

.depliantApropos {
    height: 52px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 17px;
    border-radius: 5px;
}

.texteApropos {
    height: auto;
    padding-bottom: 20px;
    margin-top: -30px;
    margin-left: 0%;
    padding-left: 18px;
    text-align: justify;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    border-radius: 0 0 5px 5px;
}

.taille_depliant_apropos {
    width: 75%;
    margin-left: 12%;
}

.texteApropos::after {
    content: "";
    display: inline-block;
    width: 50px;
}
@media (min-width: 320px) and (max-width: 767.98px) {
    .taille_depliant_apropos {
        width: 90%;
        margin-left: 5%;
    }

    .texteApropos {
        margin-bottom: 19px;
    }
}
