.image_apropos {
    width: 90%;
    height: 223px;
    margin-top: 38px;
    margin-left: 5%;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    filter: brightness(70%);
    margin-bottom: 50px;
}

.depliantApropos {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 17px;
    border-radius: 5px;
}

.texteApropos {
    height: auto;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 0 0 5px 5px;
}

.fleche_up {
    width: 24px;
    height: 13px;
    filter: invert(100%);
    margin-right: 25px;
    cursor: pointer;
    padding: 10px;
}

.taille_depliant_apropos {
    width: 75%;
    margin-left: 12%;
    margin-bottom: 28px;
}

.texteApropos::after {
    content: "";
    display: inline-block;
    width: 50px;
    margin-bottom: 5px;
}

header {
    text-decoration: none;
}

@media (min-width: 375px) and (max-width: 767.98px) {
    .image_apropos {
        height: 111px;
        margin-bottom: 19px;
        margin-top: 19px;
        border-radius: 10px;
    }

    .taille_depliant_apropos {
        margin-bottom: 0;
        width: 90%;
        margin-left: 5%;
    }

    .fleche_up {
        position: relative;
        right: -40%;
        margin-top: 5px;
        width: 16px;
        height: 9px;
    }

    .depliantApropos {
        height: 30px;
    }

    .texteApropos {
        margin-bottom: 19px;
    }
}
