.centre_error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 139px;
}

.h1_error,
.text_Error,
.accueil_error {
    margin-bottom: 139px;
}

.accueil_error {
    text-decoration: none;
}
