.centre_error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 139px;
}

.h1_error,
.text_Error,
.accueil_error {
  margin-bottom: 139px;
}

a {
  cursor: pointer;
}

.text_Error br {
  display: none;
}

.nav_header {
  text-decoration: none;
}

@media (min-width: 375px) and (max-width: 767.98px) {
  .centre_error {
    margin-top: 93px;
    text-align: center;
  }

  .h1_error,
  .text_Error,
  .accueil_error {
    margin-bottom: 113px;
  }

  .text_Error {
    width: auto;
  }
  .text_Error br {
    display: block;
  }
}
