$base-color: #ffffff;
$fourth-color: #f6f6f6f6;

body {
    width: 100%;
}

.image_index {
    width: 88%;
    height: 223px;
    margin-top: 50px;
    margin-left: 6%;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    filter: brightness(40%);
    margin-bottom: 50px;
}

.home_text .position_titre {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -180px;
}

.card_ctn {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 169px;
    height: auto;
    display: grid;
    padding-bottom: 46px;
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .body {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .image_index {
        width: 90%;
        height: 100px;
        margin-top: 50px;
        margin-left: 5%;
        border-radius: 10px;
        margin-bottom: 27px;
    }

    .home_text .position_titre {
        position: relative;
        margin-left: 7%;
        padding-right: 20%;
        margin-top: -110px;
    }
}
