$base-color: #ffffff;
$fourth-color: #f6f6f6f6;

body {
    width: 100%;
}

.image_index {
    width: 86%;
    height: 223px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    filter: brightness(40%);
    margin-bottom: 50px;
}

.home_text .position_titre {
    position: relative;
    margin-top: -180px;
    left: 20%;
}

.card_ctn {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 169px;
    height: auto;
    display: grid;
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .image_index {
        width: 115%;
        height: 110px;
        margin-top: 50px;
        margin-left: 8%;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        filter: brightness(40%);
        margin-bottom: 27px;
    }
    .body {
        display: flex;
        flex-direction: column;
    }
    .home_text .position_titre {
        position: relative;
        margin-top: -110px;
        margin-left: -10px;
        padding-right: 30%;
    }

    .card_ctn {
        height: auto;
        width: 110%;
        margin: 0%;
        margin-left: -6%;
    }
}
